body {
    background-color: transparent;
    background: none;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    max-width: 1000px;
    align-items: center;
    background-color: transparent;
}

#logolong {
    width: 400px;
    align-content: center;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 0.5em;
}

.panel {
  padding: 0 18px;
  background-color: transparent;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}